.app.header {
    padding: 1em;
    background: darkolivegreen;

    & >h1 {
        text-align: center;

        color: #fafafa;
    }

    & >app-navigation {
        color: #f0f0f0;

        font-size: 1.4em;
    }
}

.app.content {
    padding: 0 1em 1em 1em;
}
