<h2>Page de renseignements</h2>

<h4>RGPD</h4>
<div>
    <p>
        Quam ob rem cave Catoni anteponas ne istum quidem ipsum, quem Apollo, ut ais, sapientissimum iudicavit; huius enim facta, illius dicta laudantur. De me autem, ut iam cum utroque vestrum loquar, sic habetote.
    </p><p>
        Quid? qui se etiam nunc subsidiis patrimonii aut amicorum liberalitate sustentant, hos perire patiemur? An, si qui frui publico non potuit per hostem, hic tegitur ipsa lege censoria; quem is frui non sinit, qui est, etiamsi non appellatur, hostis, huic ferri auxilium non oportet? Retinete igitur in provincia diutius eum, qui de sociis cum hostibus, de civibus cum sociis faciat pactiones, qui hoc etiam se pluris esse quam collegam putet, quod ille vos tristia voltuque deceperit, ipse numquam se minus quam erat, nequam esse simularit. Piso autem alio quodam modo gloriatur se brevi tempore perfecisse, ne Gabinius unus omnium nequissimus existimaretur.
    </p><p>
        Illud tamen te esse admonitum volo, primum ut qualis es talem te esse omnes existiment ut, quantum a rerum turpitudine abes, tantum te a verborum libertate seiungas; deinde ut ea in alterum ne dicas, quae cum tibi falso responsa sint, erubescas. Quis est enim, cui via ista non pateat, qui isti aetati atque etiam isti dignitati non possit quam velit petulanter, etiamsi sine ulla suspicione, at non sine argumento male dicere? Sed istarum partium culpa est eorum, qui te agere voluerunt; laus pudoris tui, quod ea te invitum dicere videbamus, ingenii, quod ornate politeque dixisti.
    </p><p>
        Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam venire multis fictisque blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe tamen quod eum lenire poterit ut germanum profecta, cum Bithyniam introisset, in statione quae Caenos Gallicanos appellatur, absumpta est vi febrium repentina. cuius post obitum maritus contemplans cecidisse fiduciam qua se fultum existimabat, anxia cogitatione, quid moliretur haerebat.
    </p><p>
        Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.
    </p>

    <button (click)="anonymize()">
        Anonymiser mes données
    </button>
</div>

<h3>Autorisations</h3>

<p>
    Un champ vide indique que vous ne consentez pas à la collecte des données
    pour ce réseau social.
</p>

<form #authForm="ngForm" class="form auth" (ngSubmit)="submitAuthorizations()">
    <div class="provider" *ngFor="let provider of providers">
        <div class="link">
            <label [for]="provider">{{pName(provider)}}: </label>
            <input #link="ngModel" [name]="provider" type="url"
                [(ngModel)]="authorizations[provider]"
                [placeholder]="'Lien du compte '+pName(provider)"
            />
            <button (click)="authorizations[provider] = ''">
                <i class="fas fa-trash"></i>
            </button>
        </div>
        <div class="privacy">
            <div class="setting" *ngFor="let setting of getSettings(provider)">
                <label [for]="provider+'-'+setting">{{sName(setting)}}: </label>
                <input [name]="provider+'-'+setting" type="checkbox"
                    [(ngModel)]="privacy[provider][setting]"
                />
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="authForm.invalid">
        <i class="fas fa-save"></i>
        Sauvegarder
    </button>
</form>

<h4>Données récoltées</h4>

<p>
    Un champ vide indique que vous ne consentez pas à la collecte des données
    pour ce réseau social.
</p>

<form #dataForm="ngForm" class="form data" (ngSubmit)="submitData()">
    <div class="provider" *ngFor="let provider of providers">
        <div class="setting" *ngFor="let setting of getSettings(provider)">
            <label [for]="'data-'+provider+'-'+setting">{{sName(setting)}}: </label>
            <input [name]="'data-'+provider+'-'+setting" type="text"
                [(ngModel)]="data[provider][setting]"
            />
        </div>
    </div>

    <button type="submit" [disabled]="authForm.invalid">
        <i class="fas fa-save"></i>
        Sauvegarder
    </button>
</form>
