.block.rgpd {
    padding: .5em;
    background: #fafafa;
}

.block.rgpd > div {
    padding-left: 1em;
}

.block.rgpd > h3 {
    margin: 0;
    text-align: center;
}

.block > form {
    padding: 0.5em 1em;
    background: #fafafa;
}

.block .settings {
    padding: .5em 0 .5em 1em;
}
